// Header and Hero Styles


// Navigation Styles
.nav {
	font-family: $font__text;
	font-size: 0.9em;
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 1.5em 2em 1em;
	text-transform: uppercase;
	a {
		transition: all 0.2s;
	}
	.nav__logo {
		align-self: center;
		flex-basis: 20%;
		font-family: $font__title;
		text-align: center;
		h3 {
			color: $color__alttext;
			font-size:1.25em;
		}
		p {
			color: $color__link;
			margin: 0;
		}
	}
	.nav__reservation {
		color: $color__cta;
		font-weight:bold;
	}
}

.nav__logo--small {
	display: none;
	height: 30px;
	width: auto;
}
.nav .toggleNav {
	color: $color__alttext;
	display: none;
	font-size: 1.2em;

}

.nav__submenu {
	align-self: center;
	flex-basis: 35%;
	transition: all 0.5s ease-in-out;
	ul {
		display: flex;
		justify-content: space-around;
	}
}

.nav__submenu.open {
	display: flex;
	max-height: 100%;
	opacity:1;
	padding-top: 1em;
	visibility: visible;

}

.nav a:hover {
	color: $color__link;
}

// Home Page Navigation Styles
.nav--homepage {
	border-bottom: 1px solid rgba(255,255,255,0.2);
	color: $color__alttext;;
	.nav__logo h3 {
		color: $color__alttext;
	}
}

// Alternate Nav Styles
.nav--default {
	background: $color__footer;
	color: $color__alttext;
}

// Hero Styles
.container {
	background: url('../images/winter-hires2.jpg') no-repeat;
	background-size: cover;
	box-shadow: 4px 0 8px rgba(0,0,0,0.6);
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.hero {
	align-items: flex-start;
	display: flex;
	flex: 1;
	justify-content: center;
	text-align: center;
}

.hero__title {
	border: 1px solid rgba(255,255,255,0.6);
	display: inline-block;
	font-family:$font__text;
	color: $color__alttext;
	margin: 8em;
	padding: 2em 2em 1em 2em;
	text-align: center;
	h1 {
		color:$color__alttext;
		font-size: 4em;
		font-family: $font__title;
	}
	.hero__intro {
		letter-spacing: 4px;
		text-transform: uppercase;
	}
	p {
		color: $color__alttext;
	}
}