// Media Queries Styles

// Smaller Desktop Screen
@media screen and (max-width: 1420px) {
	.nav__submenu {
		flex-basis: 50%;
	}
}



// Tablet Breakpoint
@media screen and (max-width: 1050px) {
	/* Navigation and Hero Styles */	.nav__logo {
		font-family: $font__title;
		a {
			color: $color__link;
		}
		p {
			color: $color__alttext;
			margin-left: 5px;
			margin-top: 0;
		}
	}
	.hero {
		align-items: center;
	}
	.nav {
		flex-direction: column;
	}
	.nav__submenu {
		flex: 1;
		padding: 0;
		width: 100%;
		ul {
			padding-top: 1em;
		}
	}
	.container {
		height: 80vh;
	}
	.hero__title{
		border: none;
		margin: 0;
	}

	/* Article Description Styles*/
	.article__description {
		flex-wrap: wrap;
		text-align: center;
		.article__description__text {
			flex-basis: 100%;
			order: 2;
		}
		blockquote {
			p {
				text-align: center;
			}
		}
	}
	/* Ammenity Styles */
	.article__container {
		flex-wrap: wrap;
		section {
			display: flex;
			flex-basis: 100%;
			margin-bottom: 1em;
			max-width: 100%;
		}
	}
	.article__ammenities img {
		width: 225px;
		height: 175px;;
		padding-right: 2em;
	}
	/* Feature Styles*/
	.article__feature {
		flex-wrap: wrap;
		img{
			height: 250px;
			width: auto;
		}
		h2 {
			padding: 0.5em 0;
		}
		.article__feature__text  {
			flex-basis: 100%;
			order: 2;
		}
	}
	/* Service Styles*/
	.article__services__container {
		flex-wrap: wrap;
		height: auto;
		.article__services__shuttle,
		.article__services__view,
		.article__services__mess {
		flex-basis: 100%;
		padding: 4em 0;
		}
	}
	/* Side Pages Styles*/
	.container__default {
	margin: 1em 2em;
	text-align: center;
	h2 {
		padding: 0.5em 0;
		}
	article p {
		width: 100%;
		}
	}
	.article__about p {
		max-width: 100%;
	}

	/* Footer Styles*/
	footer form {
		width: 60%;
	}
	footer .footer__container__outer {
		width: 80%;
	}
}

@media screen and (max-width: 495px) {
	.container {
		height: 60vh;
	}
	.container__default {
		margin-top: 4.25em;
	}
	// Navigation Styles
	.nav {
		background: $color__secondary;
		border: none;
		padding:0.5em 1em;
		position: fixed;
		width: 100%;
	}
	.nav__logo {
		display: flex;
		justify-content: space-between;
		padding:1em;
		width: 100%;
		h3 {
			padding-top: 0.25em;
		}
		p {
			margin-bottom: 0;
		}
	}
	.nav__logo--small {
		display: block;
	}
	.nav__logo--large {
		display: none;
	}

	.nav a:hover {
		color: inherit;
	}
	.nav .toggleNav {
		align-self: center;
		display: block;
	}
	.nav__submenu {
		visibility: hidden;
		opacity: 0;
		max-height: 0;
		ul {
			flex-direction: column;
			padding: 0;
			li  {
				padding: 0.5em;

			}
		}
	}

	.hero__title {
		border: none;
		margin-top: 0;
		h1 {
			font-size: 2em;
		}
	}
}


// Smartphone Breakpoint
@media screen and (max-width: 414px) {
	/* Header Styles*/
	.hero__title {
		margin-top: 1em;
		margin-bottom: 1em;
		border:none;
		h1 {
			font-size: 2em;
		}
	}

	/*Description Styles*/
	.article__description {
		blockquote {
			margin-top: 0;
		}
		.article__description__text p {
			padding: 0 1em;
			margin-bottom: 0;
		}
	}

	/*Ammenity Styles*/
	.article__container {
		section {
			align-items: center;
			border-bottom: 1px solid $color__link;
			box-shadow: none;
			flex-direction: column;
			text-align: center;
			img {
				padding: 0;
			}
			h4 {
				text-align: center;
			}
		}
	}
	.article__ammenities {
		padding-bottom: 1em;
	}
	/*Feature Styles*/
	.article__feature__text p {
		padding: 1em;
	}
	/*Footer Styles*/
	footer .footer__container__outer {
		width: 100%;
	}

	footer .footer__container {
		justify-content: center;
	}

	footer ul {
		justify-content: center;
	}

		footer .footer__container__outer p {
			font-size: 0.8em;
			margin: 0 0.5rem;
			text-align: center;
		}
		footer form {
			width: 90%;
		}
		footer h3 {
			display: none;
		}
}

@media screen and (max-width: 320px) {
	.article__services--type p {
		max-width: 80%;
	}
	.container__default {
		margin: 1em 1em;
	}
	.article__feature img {
		max-width: 300px;
		height: auto;
	}
	::-webkit-input-placeholder {
		font-size: 0.8em;
	}
}

// Landscape Mode
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 736px)
  and (orientation: landscape) {
	.container {
		height: 100vh;
	}
	.hero__title {
		border:none;
		margin-top: 0;
		h1 {
			font-size: 2.5em;
		}
		p {
			margin-top: 0;
		}
	}
}