// Variable Declarations
$font__text:  'Montserrat', sans-serif;
$font__title:  'Alegreya', serif;

// Color Declarations
$color__footer: #4c4b46;
$color__secondary: #5b5a55;
$color__title: #4c4b47;
$color__text: #535353;
$color__alttext: #fff;
$color__link: #b3a365;
$color__cta: #ef503d;
