<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		 <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ page.title }}</title>
		<style>html {height: 100%;}body,h2,h3,h4,p,ul{margin:0;padding:0}body{font:400 16px/1.5 "Helvetica Neue",Helvetica,Arial,sans-serif;color:#111;background-color:#fdfdfd;-webkit-text-size-adjust:100%;-o-font-feature-settings:"kern" 1;font-feature-settings:"kern" 1;font-kerning:normal}h2,h3,h4,p,ul{margin-bottom:15px}img{max-width:100%;vertical-align:middle}ul{margin-left:30px}h2,h3,h4{font-weight:400}a{text-decoration:none}</style>
	</head>

	<body>
		<main>
		<header>
				<nav>
					<ul  class="nav nav--default" id="menu">
					<li><a href="offers.html">Offers</a></li>
					<li><a href="./#accomodations">Accomodations</a></li>
					<li><a href="./#ammenities">Services & Ammenities</a></li>
					<li class="nav__logo">
						<a href="./">
							<h3>Gallager Estates</h3>
							<p>Bed & Breakfast</p>
						</a>
					</li>
					<li><a href="about.html">About Us</a></li>
					<li><a href="directions.html">Directions</a></li>
					<li class="nav__reservation"><a href="reservations.html">Make a Reservation</a></li>
				</ul>
			</nav>
		</header>
		<div class="container__default">
		{{ content }}
		</div>
		</main>
		<footer>
			<div class="footer__container__outer">
				<div class="footer__container">
					<h3>Collingwood</h3>
					<form>
						<input type="email" name="email" placeholder="Enter your email address for promotions & news">
						<button type="submit" value="SIGN UP">SIGN UP</button>
					</form>
				</div>
				<p>&copy 2017 Gallagher Estates Bed & Breakfast, LLC. All Rights Reserved</p>
				<nav>
					<ul>
						<li><a href="#">Careers</a></li>
						<li><a href="#">Terms of Use</a></li>
						<li><a href="#">Privacy Policy</a></li>
						<li><a href="#">Leadership Center</a></li>
					</ul>
				</nav>
			</div>
		</footer>
		<script  src="https://code.jquery.com/jquery-3.2.1.min.js"  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="./js/jquery.slicknav.min.js"></script>
		<link rel="icon" href="../images/favicon.ico">
		<link rel="stylesheet" href="stylesheets/main.css">
		<script>
			$(function(){
				$('#menu').slicknav({
					label: '',
					closeOnClock: true
				});
			});
		</script>
	</body>
</html>